* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* color: #222222; */
    font-size: 0.9rem;
}

/* style navbar */

#navbar {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

nav > a {
    padding: 8px;
    padding-right: 15px;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: #222222;
}

nav > a:hover, .korean-link:hover {
    text-decoration: underline;
}

#icons {
    color: #56595c;
    padding-top: 4px;
}


/* style main content */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#logo {
    width: 310px;
    height: 103px;
    padding-top: 65px;
    padding-bottom: 20px;
}

/* style search bar in main */

.searchbar {
    display: flex;
    border: 1px solid #cdd4db;
    padding: 6px;
    border-radius: 50px;
}

.searchbar:hover {
    box-shadow: 2px 2px 5px #dadce0;
}

.search-icon {
    color: #adb4bb;
    padding-left: 14px;
    padding-top: 4px;
}

.mic {
    width: 30px;
    height: 30px;
    padding-right: 8px;
}

.mic:hover {
    cursor: pointer;
}

#search {
    width: 500px;
    height: 30px;
    padding-left: 2px;
    border: 0;
}

#search:hover {
    cursor: text;
}

#search:focus {
    outline: none;
}

/* style buttons below searchbar */

.buttons {
    padding: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.button1, .button2 {
    background-color: #f8f9fa;
    text-decoration: none;
    font-size: 14px;
    color: #3c4043;
    padding: 10px;
    padding-left: 15px;
    padding-right: 16px;
    border-radius: 5px;
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
}

.button1:hover, .button2:hover {
    text-decoration: none;
    border: 1px solid #dadce0;
    box-shadow: 0px 1px 1px #dadce0;
}

div > p {
    font-size: 13px;
}

.korean-link {
    color: #1a0dab;
}


/* style footer */

footer {
    background-color:#f2f2f2;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    padding-bottom: 15px;
    width: 100vw;
}

.footer1 {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
    font-size: 15px;
}

.footer2 {
    padding-top: 15px;
    padding-left: 15px;
}

.footer2-1 {
    display: flex;
    width: 29vw;
    padding-left: 6px;
    justify-content: space-around;
}

.footer2-2 {
    position: absolute;
    right: 15px;
}

.footer-text-color {
    color: #70757a;
}

.footer-text-color:hover {
    text-decoration: underline;
}

.footer-spacing {
    padding-right: 25px;
}

/* add media queries and make site responsive */

@media screen and (min-width:320px) {

}
